<% provide(:title, 'Scores') %>

<h1>Test history</h1>
<%= link_to 'Profile', current_user %>
<br><br>
User name: <%= current_user.name %>
<br><br>
<table>
		<tr>
			<th>Time stamp</th>
			<th>Score</th>
		</tr>ory
		<% @scores.each do |s|%>
		<tr>
			<td><%= s.created_at %></td>
			<td><%= s.value %></td>
		</tr>
		<% end %>
</table>